USE [master]
GO
/****** Object:  Database [VehicleManagement]    Script Date: 1/10/2026 3:32:33 pm ******/
CREATE DATABASE [VehicleManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VehicleManagement', FILENAME = N'C:\Users\agape\VehicleManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VehicleManagement_log', FILENAME = N'C:\Users\agape\VehicleManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VehicleManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VehicleManagement]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/10/2026 3:32:33 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 1/10/2026 3:32:33 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Manufacturers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleCategories]    Script Date: 1/10/2026 3:32:33 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[MinWeightKg] [decimal](12, 2) NOT NULL,
	[MaxWeightKg] [decimal](12, 2) NULL,
	[Icon] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_VehicleCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 1/10/2026 3:32:33 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OwnerName] [nvarchar](200) NOT NULL,
	[ManufacturerId] [int] NOT NULL,
	[YearOfManufacture] [int] NOT NULL,
	[WeightKg] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20261001022711_Initial Migration', N'8.0.31')
GO
SET IDENTITY_INSERT [dbo].[Manufacturers] ON 

INSERT [dbo].[Manufacturers] ([Id], [Name]) VALUES (4, N'Ferrari')
INSERT [dbo].[Manufacturers] ([Id], [Name]) VALUES (3, N'Honda')
INSERT [dbo].[Manufacturers] ([Id], [Name]) VALUES (1, N'Mazda')
SET IDENTITY_INSERT [dbo].[Manufacturers] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleCategories] ON 

INSERT [dbo].[VehicleCategories] ([Id], [Name], [MinWeightKg], [MaxWeightKg], [Icon]) VALUES (1, N'Light', CAST(0.00 AS Decimal(12, 2)), CAST(500.00 AS Decimal(12, 2)), N'🚗')
INSERT [dbo].[VehicleCategories] ([Id], [Name], [MinWeightKg], [MaxWeightKg], [Icon]) VALUES (2, N'Medium', CAST(500.00 AS Decimal(12, 2)), CAST(2500.00 AS Decimal(12, 2)), N'🚙')
INSERT [dbo].[VehicleCategories] ([Id], [Name], [MinWeightKg], [MaxWeightKg], [Icon]) VALUES (3, N'Heavy', CAST(2500.00 AS Decimal(12, 2)), NULL, N'🚚')
SET IDENTITY_INSERT [dbo].[VehicleCategories] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Manufacturers_Name]    Script Date: 1/10/2026 3:32:33 pm ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Manufacturers_Name] ON [dbo].[Manufacturers]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehicles_ManufacturerId]    Script Date: 1/10/2026 3:32:33 pm ******/
CREATE NONCLUSTERED INDEX [IX_Vehicles_ManufacturerId] ON [dbo].[Vehicles]
(
	[ManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_Manufacturers_ManufacturerId] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturers] ([Id])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_Manufacturers_ManufacturerId]
GO
USE [master]
GO
